from fabric.api import task, local


@task(default=True)
def init():
    local('bin/pip install -r devel-requirements.txt')
    #local('createdb {{package_name_underscore}}; exit 0')
    #local('createdb {{package_name_underscore}}_test; exit 0')
    local('bin/{{package_name}} init development.ini --reset')
    local('bin/{{package_name}} fixtures development.ini')
    local('bin/{{package_name}} create-admin-user development.ini --mail=admin@example.com --password=password')
    local('rm -rf {{package_name}}/static/components/')
    local('bower install')


@task
def i18n():
    local('bin/python setup.py extract_messages')
    local('bin/python setup.py update_catalog')
    local('bin/python setup.py compile_catalog')
    local('bin/pojson -p {{package_name}}/locale/fr/LC_MESSAGES/{{package_name}}.po > {{package_name}}/static/locale/fr/{{package_name}}.json')


@task
def clean_static():
    local('rm {{package_name}}/static/.webassets-cache/ -rf')
    local('rm {{package_name}}/static/build/ -rf')


@task
def docs():
    local('cd docs; make html')


@task(name="local-start_postgresql")
def local_start_postgresql():
    """Start postgresql on Mac OS X (installed with Homebrew)"""
    local('pg_ctl start -D /usr/local/var/postgres -w -l /usr/local/var/postgres/server.log')


@task(name="local-stop_postgresql")
def local_stop_postgresql():
    """Stop postgresql on Mac OS X (installed with Homebrew)"""
    local('pg_ctl stop -D /usr/local/var/postgres')
