@import "compass/layout/sticky-footer";
@import "compass/typography/lists/horizontal-list";

@include sticky-footer(100px, "#layout", "#layout-footer", "#footer");

BODY {
    position: relative;
}

.container.page {
    padding-top: 70px;
}
