@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

BODY.signin {
    background-color: #eee;

    .login-form {
        width: 400px;
        background-color: #fff;
        padding: 20px;
        margin: 60px auto;
        @include border-radius(10px, 10px);
        @include box-shadow(0 1px 2px rgba(0,0,0,.15));

        .login-form {
            margin-left: 65px;
        }
    }
}
